@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.new-bg{
    background-image:radial-gradient(rgba(34, 33, 33, 0.564),transparent) ,url(images/Banner-image.png);
    width: 1320px;
    height: 600px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 50px;
}


.one{
    font-size: 35px;
    text-align: center;
    color: #FFFF;
    padding-bottom: 0px;
    padding-top: 177px;
    
}

.two{
    text-align: center;
    font-size: 75px;
    color: #FFFF;
    padding-top: 0px;
    margin-top: 0px;
}

.off{
    font-size: 90px;
    color: red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.red{
    color: red;
    font-size: 25px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.all{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;   
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.happy{
   margin-left: calc(50% - 402.5px);
   margin-right: auto;
}

.party{
    margin-left: calc(50% - 660px);
}

.wello{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.942),rgba(20, 19, 19, 0.682),rgba(43, 42, 42, 0.403),transparent), url(images/Vectorrr.png);
    border-radius: 15px;
    width:1320px;
    height:600px;
}


.welcome{
    font-size: 64px;
    color: #FFFF;
    margin-left: 126px;
    margin-top: 120px;
    padding-top: 126px;
    margin-bottom: 25px;
    font-weight: bold;
    letter-spacing: 10.9px;
}


.dolor{
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    opacity: 0.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 126px;
    margin-top: 24px;
    padding-top: 20px;
}

.broke{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 0.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 126px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 25px;
}

.btn{
    font-size: 24px;
    border: none;
    color: #FFFF;
    border-color: none;
    background-color: transparent;
    margin-left: 158px;
    padding-top: 40px;
}


.ima{
    display: flex;
    justify-content: space-between;
    
}


.linear{
  background-image: linear-gradient(#ffd9d9fc,#fefafafd,transparent);
  width: 1320px;
  height: 440px;
  border-radius: 10px;
  text-align: center;
  padding-top: 105px;
  margin-top: 120px;
  margin-left: calc(50% - 660px);
}


.full{
   font-size: 32px;
   font-weight: bold;
}


.colon{
 color: #FF0000;
}


.bottn{
  background-color: #FF0000;
  width: 167px;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border-color: #FFFFFF;
  margin-top: 48px;
}


.imag{
    background-color:rgb(252, 252, 252);
    width: 1400px;
    text-align: center;
    margin-top: 50px;
    margin-left: calc(50% - 700px);
}


.size{
    width: 442px;
    height: 450px;
    margin: 10px;
}